@import "tailwindcss";

@theme {
  --color-primary: #f4f6f8;
  --color-secondary: #0f172a; 
  --color-smooth: #dddddd;
  --color-brand: #2563EB;
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

